h1{
  box-shadow: 0px 0px 8px 0px #cccccc;
  background-color: #3ffb10;
  color: red;
  border: 2px solid blue;
}

p{
  margin: 0;
  padding: 0;
}

div .note{
  color: darkorange;
  background-color: #61dafb;
  border-left: 3px solid blue;
  margin: 10px 0px;
  padding: 5px;
}

textarea{
  width: 70%;
  font-size: 1em;
  border: 3px solid grey;
  resize: vertical;
}
input[type=file],
input[type=number],
input[type=button],
input[type=text]{
  width: 70%;
  font-size: 1em;
  border: 3px solid #fff;
  border-bottom: 3px solid orange;
}

textarea:hover,
textarea:focus,
input[type=button]:hover,
input[type=button]:focus,
input[type=file]:focus,
input[type=file]:hover,
input[type=number]:focus,
input[type=text]:focus,
input[type=number]:hover,
input[type=text]:hover{
  border: 3px solid orange;
}


input[type=submit]{
  margin: 0 auto;
  color: orange;
  border: 3px solid green;
  font-size: 1em;
  background-color: green;
}

input[type=submit]:hover{
  color: green;
  background-color: #fff;
  border: 3px solid orange;
  cursor: pointer;
}
